<div class="container">
  <app-podcast-form *ngIf="progress === 1"></app-podcast-form>
  <app-subscription-form *ngIf="progress === 2"></app-subscription-form>
  <app-social-form *ngIf="progress === 3"></app-social-form>

  <hr />
  <div class="text-right">
    <button class="btn btn-danger" routerLink="/podcast/{{ podcast.id }}">
      Cancel
    </button>
    <button
      class="btn btn-secondary ml-2"
      *ngIf="progress !== 1"
      (click)="lastPage()"
    >
      Back
    </button>
    <button
      class="btn btn-primary ml-2"
      *ngIf="progress !== 3"
      (click)="nextPage()"
    >
      Next
    </button>
    <button
      class="btn btn-success ml-2"
      *ngIf="progress === 3"
      (click)="savePodcast()"
    >
      Save
    </button>
  </div>
</div>
