<!-- Search -->
<div class="container">
  <h3 class="mt-5">Search Our Podcast Directory</h3>
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Keyword"
      aria-label="Keyword"
    />
    <select class="custom-select mr-sm-2" placeholder="test">
      <option selected value="{{ null }}">Category</option>
      <hr />
      <option *ngFor="let category of categories" value="{{ category }}">{{
        category
      }}</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
  <hr />
</div>
