<div class="container">
  <div class="row mt-5">
    <div class="col">
      <a routerLink="/">&#10094; Back to Directory</a>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 col-sm-6 col-md-4">
      <img
        *ngIf="podcast.image"
        src="{{ podcast.image }}"
        width="100%"
        alt="podcast image"
      />
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <h2>{{ podcast.title }}</h2>
      <h4 class="pod-category">{{ podcast.category }}</h4>
      <p *ngIf="podcast.description">{{ podcast.description }}</p>
      <div *ngIf="podcast.hosts.length > 0">
        <p>
          Hosted by
          <span *ngFor="let host of podcast.hosts; let i = index">
            {{ host.firstName }} {{ host.lastName
            }}<span
              *ngIf="podcast.hosts.length > 2 && i < podcast.hosts.length - 2"
              >,
            </span>
            <span
              *ngIf="podcast.hosts.length > 1 && i == podcast.hosts.length - 2"
            >
              and
            </span>
          </span>
        </p>
      </div>
      <p *ngIf="podcast.yearStarted">
        Podcasting since {{ podcast.yearStarted }}
      </p>
    </div>
  </div>
  <!-- Subscription Information -->
  <div class="row">
    <div class="col-12" *ngIf="!isEmpty(podcast.subscription)">
      <h6>Subscribe:</h6>
      <p>
        <span *ngIf="podcast.subscription.apple">
          <a href="{{ podcast.subscription.apple }}">iTunes</a> |
        </span>
        <span *ngIf="podcast.subscription.google">
          <a href="{{ podcast.subscription.google }}">Google Podcasts</a> |
        </span>
        <span *ngIf="podcast.subscription.radioPublic">
          <a href="{{ podcast.subscription.radioPublic }}">Radio Public</a> |
        </span>
        <span *ngIf="podcast.subscription.rss">
          <a href="{{ podcast.subscription.rss }}">RSS</a> |
        </span>
        <span *ngIf="podcast.subscription.stitcher">
          <a href="{{ podcast.subscription.stitcher }}">Stitcher</a>
        </span>
      </p>
    </div>
  </div>
  <!-- Social / Contact Information -->
  <div class="row">
    <div class="col-12" *ngIf="!isEmpty(podcast.contact)">
      <h6>Connect:</h6>
      <p>
        <span *ngIf="podcast.contact.website">
          <a href="{{ podcast.contact.website }}">Website</a> |
        </span>
        <span *ngIf="podcast.contact.email">
          <a href="{{ podcast.contact.email }}">Email</a> |
        </span>
        <span *ngIf="podcast.contact.facebook">
          <a href="{{ podcast.contact.facebook }}">Facebook</a> |
        </span>
        <span *ngIf="podcast.contact.twitter">
          <a href="{{ podcast.contact.twitter }}">Twitter</a> |
        </span>
        <span *ngIf="podcast.contact.instagram">
          <a href="{{ podcast.contact.instagram }}">Instagram</a>
        </span>
        <span *ngIf="podcast.contact.linkedIn">
          <a href="{{ podcast.contact.linkedIn }}">LinkedIn</a>
        </span>
      </p>
    </div>
  </div>

  <div *ngIf="isLoggedIn">
    <div *ngIf="loggedInUser === podcast.username">
      <div *ngIf="isUserVerified">
        <a class="btn btn-primary" routerLink="/podcast/{{ podcast.id }}/info"
          >Edit Podcast
        </a>
      </div>
      <div class="text-muted font-italic" *ngIf="!isUserVerified">
        Please verify your email address to edit your podcast information.
      </div>
    </div>
  </div>
</div>
