<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nashville Podcasters</a>
  <!-- <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="#">Connect</a>
      <a class="nav-item nav-link" href="#">Directory</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
</nav>

<!-- Jumbotron? CTAs? -->

<div class="container">
  <!-- Search -->
  <h3>Search Our Podcast Directory</h3>
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Keyword"
      aria-label="Keyword"
    />
    <select class="custom-select mr-sm-2">
      <option selected>Category</option>
      <option value="1">Fiction</option>
      <option value="2">Real Crime</option>
      <option value="3">Technology</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>

  <!-- Podcast List -->
</div>
<!-- Footer -->
