<form [formGroup]="socForm" class="row">
  <div class="col-12 mt-5 text-center">
    <h2>How can your listeners connect?</h2>
  </div>

  <div class="form-group col-12">
    <label for="email">Email Address</label>
    <input
      formControlName="email"
      type="text"
      class="form-control"
      id="email"
      aria-describedby="email"
    />
  </div>

  <div class="form-group col-12">
    <label for="website">Website</label>
    <input
      formControlName="website"
      type="text"
      class="form-control"
      id="website"
      aria-describedby="website"
    />
  </div>

  <div class="form-group col-12">
    <label for="facebook">Facebook Link</label>
    <input
      formControlName="facebook"
      type="text"
      class="form-control"
      id="facebook"
      aria-describedby="facebookLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="twitter">Twitter Handle</label>
    <input
      formControlName="twitter"
      type="text"
      class="form-control"
      id="twitter"
      aria-describedby="twitterHandle"
    />
  </div>

  <div class="form-group col-12">
    <label for="instagram">Instagram Id</label>
    <input
      formControlName="instagram"
      type="text"
      class="form-control"
      id="instagram"
      aria-describedby="instagramId"
    />
  </div>

  <div class="form-group col-12">
    <label for="linkedIn">linkedIn Id</label>
    <input
      formControlName="linkedIn"
      type="text"
      class="form-control"
      id="linkedIn"
      aria-describedby="linkedInId"
    />
  </div>
</form>
