@import '~bootstrap/scss/bootstrap';

/* Podcast Detail View */

.pod-category {
  color: grey;
  font-style: italic;
}

/* Auth View */

.auth-container {
  max-width: 500px;
}

li.nav-item.active {
  background-color: #eee;
}
