<form [formGroup]="subForm" class="row">
  <div class="col-12 mt-5 text-center">
    <h2>Where can listeners subscribe?</h2>
  </div>

  <div class="form-group col-12">
    <label for="apple">iTunes</label>
    <input
      formControlName="apple"
      type="text"
      class="form-control"
      id="apple"
      aria-describedby="appleLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="breaker">Breaker</label>
    <input
      formControlName="breaker"
      type="text"
      class="form-control"
      id="breaker"
      aria-describedby="breakerLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="google">Google</label>
    <input
      formControlName="google"
      type="text"
      class="form-control"
      id="google"
      aria-describedby="googleLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="overcast">Overcast</label>
    <input
      formControlName="overcast"
      type="text"
      class="form-control"
      id="overcast"
      aria-describedby="overcastLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="radioPublic">Radio Public</label>
    <input
      formControlName="radioPublic"
      type="text"
      class="form-control"
      id="radioPublic"
      aria-describedby="radioPublicLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="rss">RSS Feed</label>
    <input
      formControlName="rss"
      type="text"
      class="form-control"
      id="rss"
      aria-describedby="rssLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="spotify">Spotify</label>
    <input
      formControlName="spotify"
      type="text"
      class="form-control"
      id="spotify"
      aria-describedby="spotifyLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="stitcher">Stitcher</label>
    <input
      formControlName="stitcher"
      type="text"
      class="form-control"
      id="stitcher"
      aria-describedby="stitcherLink"
    />
  </div>

  <div class="form-group col-12">
    <label for="tuneIn">TuneIn</label>
    <input
      formControlName="tuneIn"
      type="text"
      class="form-control"
      id="tuneIn"
      aria-describedby="tuneInLink"
    />
  </div>
</form>
